################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AIO/v15/Solution.VC.db-shm
/.vs/AIO/v15/Solution.VC.db-wal
/.vs/AIO/v15/Browse.VC.opendb
/.vs/AIO/v15
/AIO/x64
/x64/Release
/x64/Debug
