################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AIO/v15/Solution.VC.db-shm
/.vs/AIO/v15/Solution.VC.db-wal
/.vs/AIO/v15/Browse.VC.opendb
